<!DOCTYPE html>
<html>
<head>
    <title>StudentBook without routing</title>
    <meta charset="utf-8" />
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/lodash.js"></script>
    <script src="scripts/app/app.js"></script>
</head>
<body ng-app="app" ng-controller="StudentBookController">
Add a student <br/>
First name:<br/>
<input type="text" ng-model="inputName" ng-disabled="studentLimit"/><br/>
Last name:<br/>
<input type="text" ng-model="inputLastName" ng-disabled="studentLimit"/><br/>
Gender:<br/>
<input type="radio" name="inputGender" ng-model="inputGender" value="male"/>
Male<br>
<input type="radio" name="inputGender" ng-model="inputGender" value="female"/>
Female<br>
<button ng-click="submit()" ng-disabled="studentLimit">Submit</button>
<div ng-repeat="student in students | filter:sexFilter | orderBy: ['-gender','entryDate']">
    {{student.firstName}}
    {{student.lastName}}
    {{student.gender}}
    {{student.entryDate | date:'dd/MM/yyyy'}}
</div>
<br/>
Hide male students:
<input type="checkbox" name="checkboxFilterMale" ng-model="hideCheckboxMale" value="hideMale" ng-change="toggleMales()"/><br/>
Hide female students:
<input type="checkbox" name="checkboxFilterFemale" ng-model="hideCheckboxFemale" value="hideFemale" ng-change="toggleFemales()"/><br/>
    Search for students:<br />
    <input type="text" name="searchboxStudent" ng-model="searchText" value="searchStudent" /><br />
    <div ng-repeat="student in students | filter:searchText">
        {{student.firstName}}
        {{student.lastName}}
        {{student.gender}}
        {{student.entryDate | date:'dd/MM/yyyy'}}
    </div>
</body>
</html>